.App {
  text-align: center;

}
.tv-layer {
  background-image: url("https://images.wallpaperscraft.com/image/wall_brick_paint_texture_119441_1920x1080.jpg");

}
.wall {
  z-index: -5;
  position:  relative;
  width: 100%;
  float:left;
}

.television-background {
  margin-top: 20px;
  position:  absolute;

  z-index: 1;
}
.youtube-video
{
  position: relative;
  z-index: 2;
  margin-left: 7px;
  margin-top: 26px;

}
.next-button {
  z-index: 10;
}
.back-button {
  z-index: 10;
}
.desk-layer{
  background-image: url("https://images.wallpaperscraft.com/image/wall_brick_paint_texture_119441_1920x1080.jpg");
}
.desk {
  margin-bottom: 200px;
}