.App {
  text-align: center;
  background-image:url("https://images.wallpaperscraft.com/image/wall_brick_paint_texture_119441_1920x1080.jpg");
}

.television-background {
  z-index: -1;
  position:  absolute;
}
.youtube-video {
  z-index:0;
  margin-left: 7px;
  margin-top: 6px;

}
.keys {
  background-image:url("https://images.wallpaperscraft.com/image/wall_brick_paint_texture_119441_1920x1080.jpg");
}